/* position dots in carousel */
.carousel-wrapper {
  width: 100%;
  height: 800px;
}

.carousel-cell-1 {
  background-image: url(../images/1600x600-1.jpg);
  background-size: cover;
}

.carousel-cell-2 {
  background-image: url(../images/1600x600-2.jpg);
  background-size: cover;
}

.carousel-cell-3 {
  background-image: url(../images/1600x600-3.jpg);
  background-size: cover;
}

.carousel-cell-4 {
  background-image: url(../images/1600x600-4.jpg);
  background-size: cover;
}

.carousel-cell-5 {
  background-image: url(../images/1600x600-5.jpg);
  background-size: cover;
}

.carousel-cell-6 {
  background-image: url(../images/1600x600-6.jpg);
  background-size: cover;
}

.carousel-cell-7 {
  background-image: url(../images/1600x600-7.jpg);
  background-size: cover;
}

.carousel-cell-8 {
  background-image: url(../images/1600x600-8.jpg);
  background-size: cover;
}

.carousel-cell-9 {
  background-image: url(../images/1600x600-9.jpg);
  background-size: cover;
}

.flickity-page-dots {
  bottom: 10px;
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

.carousel-cell {
  width: 100%;
  /* full width */
  height: 600px;
  /* height of carousel */
  margin-right: 10px;
}

.progress-bar {
  height: 20px;
  width: 0;
  background: #333;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container p {
  color: white;
  display: block;
  padding: 40px 20px;
  position: absolute;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  top: 10px;
  right: 10px;
  background-color: gray;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 0 100px 100px 100px;
}

.button-group {
  position: absolute;
  z-index: 1000;
}

.button-group .btn {
  z-index: 1000;
}

@media (min-width: 992px) {
  .carousel-cell-1 .container p {
    right: 19%;
    bottom: 22%;
    top: unset;
  }
  .carousel-cell-2 .container p {
    right: 31%;
    bottom: 33%;
    top: unset;
  }
  .carousel-cell-3 .container p {
    right: 12%;
    bottom: 6%;
    top: unset;
  }
  .carousel-cell-4 .container p {
    right: 6%;
    bottom: 11%;
    top: unset;
  }
  .carousel-cell-5 .container p {
    right: 15%;
    bottom: 40%;
    top: unset;
  }
  .carousel-cell-6 .container p {
    right: 10%;
    bottom: 35%;
    top: unset;
  }
  .carousel-cell-7 .container p {
    right: 23%;
    bottom: 13%;
    top: unset;
  }
  .carousel-cell-8 .container p {
    right: 21%;
    bottom: 37%;
    top: unset;
  }
  .carousel-cell-9 .container p {
    right: 26%;
    bottom: 27%;
    top: unset;
  }
}

@media (max-width: 768px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .container p {
    color: white;
    display: block;
    padding: 5px 5px;
    position: absolute;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 0;
    width: 100%;
    margin-top: 50%;
  }
  [class^=".carousel-cell-"] .container p {
    top: unset;
    bottom: unset;
  }
}
/*# sourceMappingURL=style.css.map */