.container {
    width: 1200px;
    margin: 0 auto;
    p {
        color: white;
        display: block;
        padding: 60px 30px;
        position: absolute;
        font-size: 40px;
        margin: 0 auto;
        text-align: center;
        background-color: rgb(128, 128, 128);
        background-color: rgba(128, 128, 128, 0.5);
        border-radius: 0 100px 100px 100px;
    }
}
.button-group {
    position: absolute;
    z-index: 1000;
    .btn {
        z-index: 1000;
    }
}

@include randomPositions;